.add-homes-form {
    position: fixed;
    top: 150px;
    left: 500px;
    width: 60vw;
    .landlord-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
        @include bg-guide();
        .input-wrapper {
           margin-bottom: 15px;
           margin-top: 15px;
           margin-left: 300px;
           width: 90%;
           input {
            border-radius:10px;  
            height: 30px; 
            border:2px solid black;  
            width:60%;
           }
        }
        .btn {
            @include btn-guide();
            width: 100px;
        }
    
  }
}