.add-homes-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    .landlord-form {
        height: 100%;
        width: 50%;
        margin-top: 5%;
        @include bg-guide();
        .add-home-wrapper {
           text-align: center;
            h1 {
                font-size: 1.5em;
            }
        .input-wrapper {
            margin: 15px 0px auto auto;

           width: 100%;
           input {
            border-radius:10px;  
            height: 30px; 
            border:2px solid black;  
            width:65%;
           }
        }
    }
        .btn {
            @include btn-guide();
            width: 100px;
            display: flex;
            align-items: center;
            margin-top: 50px;
            margin-left: auto;
        }
        label {
            font-size: 16px;
        }
    
  }
}
.visually-hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }