
body {
    margin: 0;
    object-fit: cover;
    overflow: scroll;   
    font-weight: 900;
    position: absolute;
    color: white;   
    background-image: url('./images/body-bg.jpg') ;
    font-family: 'Fira Sans Serif', 'sans serif';
}
@media(max-width: 768px) {
    body {
        overflow: scroll;
    }
}
