:root {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}
body {
    background-color: slategray;
    margin: 0;
    object-fit: cover;
    .container {
    display: flex;
    justify-content: center;
    background-color: darkblue;
}
}