.dashboard-container {
  position: fixed;
  top: 150px;
  left: 500px;
  @include bg-guide();
  height: 80vh;
}
@media(max-width: 768px) {
  .dashboard-container{
    left:170px;
    width: 450px;
  }
}