.dashboard-container {
  position: relative;
  top: 200px;
  left: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-basis: 100%;
  width: 100vw;
  height: 80vh;
  font-size: 20px;
  .personal-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    height: 500px;
    width: 500px;
    position: relative;
    top: 0 ; 
    left: 0;
    background-color: $bg-color;
  }
  .property-name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
    position: absolute;
    top: 200;
    left: 525px;
   border: 2px solid $font-color;
   border-radius: 2px;
   background-color: $bg-color;
   width: 500px;
  }
  .property-content {
    width: 500px;
    height: 300px;
    .card {
      position: absolute;
      top: 355px;
      left: 525px;
      display: flex;   
      justify-content: flex-start;   
      align-items: center;
      background-color: $bg-color;
      flex-direction: column;
      .card-wrapper {
        border: 2px solid $font-color;
        height: 300px;
      }
    }
  }
  .message-content {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   border: 2px solid $font-color;
   position: absolute;
   top: 620px;
   left: 100px;
   background-color: $bg-color;
   
   
  }
}
