
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
.dashboard-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 100%;
  .personal-header {
    height: 300px;
    width: 300px;
    background-color: $bg-color;
    margin-right: $margins-space;
    border: 2px solid $font-color;
  }
  .property-name {
    height: 300px;
   border: 2px solid $font-color;
   border-radius: 2px;
   background-color: $bg-color;
   width: 300px;
   margin-right: $margins-space;
  }
  
    .card {
      margin-right: $margins-space;
      border: 2px solid $font-color;
      width: 300px;
      height: 300px;
      background-color: $bg-color;
    }
 
  .message-content {
   border: 2px solid $font-color;
   width: 300px;
   height: 300px;
   background-color: $bg-color;
   
  }
  }
}
@media (max-width: 940px) {
  .dashboard-container{
    width: 100%;
    height: 100%;
    .dashboard-wrapper {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .personal-header,
      .property-name,
      .card,
      .message-content{
      width: 300px;
      height: 100px;
      margin-top: 50px;
      }
      .message-content {
        margin-top: 50px;
        margin-right: 30px
      }
    }

  }
}