.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 86vh);
    width: 100vw;
    position: absolute;
    bottom: 0%;
   background-color: $bg-color;
   color: white;
   font-size: 20px;
   
    .footer-wrapper {
        flex-grow: 1;
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left-side {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-grow: 1;
                font-size: 20px;
                .foot-links {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        border-bottom: 5px solid $button-bg-color;
                        text-transform: uppercase;
                        color: $button-bg-color;
                    }
                }
            }
        }
        .bottom {
           display: flex;
           justify-content: center;
           align-items: flex-end;
           margin-top: 15px;
        //    position: absolute;
        //    bottom: 0;
        //    left: 45%;
            h3 {
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}
.underline {
    border-bottom: 5px solid black ;
}
@media (max-width: 940px) {
    .foot-links {
        font-size: 0.7rem;
        margin-right: 20px;
    }
    .bottom {
        h3 {
            font-size: 1em;
        }
    }
}