.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 86vh);
    width: 100vw;
    position: fixed;
    bottom: 0%;
//    left: 0;
//    overflow: hidden;
   background-color: $button-bg-color;
   font-size: 20px;
   
    .footer-wrapper {
        flex-grow: 1;
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left-side {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-grow: 1;
                font-size: 20px;
                .foot-links {
                    text-decoration: none;
                    color: $bg-color;
                    &:hover {
                        border-bottom: 5px solid black;
                        text-transform: uppercase;
                    }
                }
            }
            .right-side {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50%;
               
                img {
                    width: 50%;
                    height: 130px;
                    margin-top: 50px;
                    position: relative;
                    bottom: -15px;
                }
            }
        }
        .bottom {
           display: flex;
           justify-content: center;
           align-items: flex-start;
           position: relative;
           bottom: 50px;
           left: 0%;
            h3 {
                a {
                    text-decoration: none;
                    color: $bg-color;
                }
            }
        }
    }
}
.underline {
    border-bottom: 5px solid black ;
}