$button-bg-color: #fb8122;
$bg-hover: #71b2e7;
$font-color: #e1e2e2;
$bg-color: #1D2228;
$margins-space: 30px;

@mixin btn-guide {
    background-color:$bg-color;
    color:$button-bg-color;
    font-weight: 900;
    width: 50%;
    height: 45px;
    border-radius: 100px;
    border: 3px solid black;
    &:hover {
        background-color: $button-bg-color;
        color:$bg-color;
    }
    @content;
}
@mixin input-guide {
    border-radius:10px;  
    height: 30px; 
    border:2px solid black; 
    // margin-top: 20px; 
   
}
@mixin bg-guide {
    // background: rgb(31,31,52);
    //     background: radial-gradient(circle, rgba(31,31,52,1) 0%, rgba(32,37,46,0.91290283203125) 35%, rgba(23,12,138,1) 100%);
    background-color: $bg-color ;
}

@mixin glass-bg-guide {
    height: 500px;
    width: 500px;
    background: rgba( 23, 12, 138, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
@mixin card-content {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-align: center;
    @content;
}