.nav-container {
  display: grid;
  grid-template-columns: 1fr;
  top:0px;
  width: 300px;
  height: 100%;
  color: white;
  position: absolute;
  .nav-links-wrapper {
    @include bg-guide();
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
    
    .nav-header {
      font-size: 25px;
    }
    .nav-links {
      text-decoration: none;
      color: white;
      font-size:20px;
      margin-bottom: 20px;
    }
  }  
}
@media (max-width: 768px){
  .nav-container {
    position: absolute;
    width: 310px;
    height: 100vh;
    .nav-links-wrapper {
      position: fixed;
      align-items: flex-start;
      justify-content: start;
      height: auto;      
      .nav-header{
        font-size: 15px;
      }
      font-size: 15px;
      .nav-links {
        font-size: 12px;
        
      }
    }
  }
}