.nav-container {
  display: flex;
  justify-content: space-around;
  background-color: midnightblue;
  align-items: center;
  width: 100%;
  height: 100px;
  color: white;
  .nav-wrapper {
    display: flex;
    justify-content: flex-end;
    .owner-links {
      text-decoration: none;
      color: white;
      font-size: 25px;
      &:hover {
        background-color:white;
        color: midnightblue
      }
    }
  }
}