.rent-form {
    position: fixed;
    top: 100px;
    left: 500px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    @include bg-guide();
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 50%;
        input {
            @include input-guide();
            margin-top: 15px;
            width: 100%;
        }
        .btn {
            @include btn-guide();
            width: 100px;
            margin-top: 15px;
            
        }
    }
}
@media(max-width: 768px) {
    .rent-form {
        position: fixed;
        top: 100px;
        left: 170px;        
        width: 300px;
        h1 {
            font-size:20px;
        }
        
        @include bg-guide();
        .content-wrapper {
           font-size: 20px;
            input {
               height: 20px;
            }
            .btn {
                @include btn-guide();
                width: 100px;
                margin-top: 15px;
                
            }
        }
    }
}