.show-container {
    display: flex;
    flex-basis: 100%;
    flex-flow: wrap;
    height: auto;
    position: relative;
    max-width: 1600px;
    top: 150px;
    left: 200px;
     .request-card{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border: 3px solid $button-bg-color;
        width: 500px;
        margin-bottom: 20px;
        margin-right: 20px;
        @include bg-guide();
        .card-content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            height: 400px;
            width: 400px;
            
            h1 {
                font-size: 25px;
            }
           .renter-content {
               display: block;
               text-align: center;
               h1 {
                   font-weight: 900;
                   font-size: 21px;
               }
           }
           .address-content {
            display: block;
            text-align: center;
            h1 {
                font-weight: 900;
                font-size: 21px;
            } 
           }
           .issues {
            display: block;
            text-align: center;
            h1 {
                font-weight: 900;
                font-size: 21px;
            } 
           }
        }
    
    }
            
    
    @media(max-width: 768px){
        .request-card {
            position: absolute;
            top: 20px; 
            left:110px;        
            overflow: scroll;
            .card-content {
                overflow:auto;
                
            }
            
         }
        
            }
    
        
}


