.show-page {
    position: fixed;
    top: 100px;
    left: 500px;
    display: flex;
    .request-card {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
    }
    
}