.message-form {
    position: fixed;
    top: 150px;
    left:500px;
    display: flex;
    width: 100%;
    height: 50vh;
    
    .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include bg-guide();
        width: 50%;
        color: white;
        .content-wrapper{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 50%;
            input {
                @include input-guide();
            }
            textarea {
                width: 100%
            }
        }
        .message-btn {
            @include btn-guide();
            width: 20%;
        }
    }
}
.visually-hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
@media(max-width: 768px){
    .message-form {
        top:10px;
        left:140px;
        width: 450px;
        
        height: auto;
        
        .form-wrapper {
            justify-content: center;
            align-items: center;
            margin-right: 15px;
            
            .content-wrapper{
                h1 {
                    font-size: 25px;
                }
                input {
                    @include input-guide();
                }
                textarea {
                    width: 100%
                }
            }
            .message-btn {
              margin-top:15px;
            }
        }
    }
}