// .messages-container {
//     background-color: $bg-color;
//     display: flex;
//     justify-content: flex-start;
//     flex-direction: row;
//     align-items: flex-start;
//     height: 90%;
//     width: 100vw;
//     position: relative;
//     border-radius: 50%;
   
//     .message-container {
//         position: relative;
//         top: 50px;
//         left: 50px;
//         display: flex;
//         flex-flow: wrap;
//         align-items: center;
//         height: fit-content;
//         max-width: fit-content;
//         color: white;
//         .get-messages {
//             display: flex;
//             align-items: center;
//             flex-direction: column;
//             width: 400px;
//             height: 350px;
//             background-color: $button-bg-color;
//             border-radius: 50%;
//             .message-header {    
//                 width: 100%;
//                 height: 33px;
//                 h1 {
//                     font-size: 0.8em; 
//                 }
//             }
//             .message-wrapper {
//                 align-items: center;
//                 display: flex;
//                 flex-direction: column;
//                 width: 50%;
//                 height: 100px;
//                 padding: 0;
//                 margin: 0;
//                 p {
//                     font-size: 0.8rem;
//                 }
//                 h6 {
//                     font-size: 0.5em;
//                     border: none;
//                     width: 75%;
                    
//     }
//             }
//         }
//     }
// }
.messages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .message-container {
        .messagesTable {
            background-color: $button-bg-color;
            color: $bg-color;
            width: 600px;
        }
    }
}

@media(max-width: 768px) {
    .message-container {
        grid-column: 2  ;
        width: 320px;
        
       .get-messages {
           font-size:15px;
           .message-header {
               border-bottom: 2px solid white;
               width: 50%;
               
               h1 {
                   font-size: 15px;
               }
            }
            .message-wrapper {
              
              p{
                  font-size: 12px;
                  width: 100%;
              }
              h6{
                font-size: 5px;
                border: none;
                width: 50%;
                padding-top: 20px;
                margin-top: 20px;
                margin-left: -45px;
              }
            }
                
            
        }
    }
}