.property-item-container {
    display: flex;
   
    flex-flow: wrap;    
    position: relative;
    top: 50px;
    left: 600px;   
    
    
    .property-wrapper {
        
      margin-bottom: 55px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-row: 2;
      @include glass-bg-guide();
      padding: 0;
      grid-column: 4 ;
      border: 6px solid rgba(255, 255, 255, 0.18);
     
      row-gap: 21px;
      .image-wrapper {
          
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid white;
          height: 250px;
          border-radius: 15px;
          img {
              width: 100%;
              height: inherit;
              border-radius: 15px;
              }
        }
        .content {
            @include bg-guide();
            padding: 5px;
            .title {
                @include card-content();
                h1 {
                    font-size: 1em;
                    margin-right: 25px;
                }
            }
            .address {
                @include card-content();
                h2 {
                    font-size: 1em;
                    margin-right: 25px;
                } 
            }
            .price {
                @include card-content();
                h2 {
                    font-size: 1em;
                    margin-right: 25px;
                }
            }
            .renter {
                @include card-content();
                h1 {
                    font-size: 1em;
                    margin-right: 25px ;
                }
            }
        }
    }

}
