.message-container {
    display: grid;
    grid-column: 4 / span 6;
    grid-row: 2 ;
    margin-top: 150px;
    

    .get-messages {
        margin-bottom: 30px;
        background-color: blue;
        .message-header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 33%;
            border-right: 2px solid white;
            border-bottom: 2px solid white;
            h1 {
                font-size: 0.8em;
            }
        }
        .message-wrapper {
            text-align: center;
            p {
                flex-wrap: wrap;
                border-bottom: 5px solid white;
            }
        }
    }
}
@media(max-width: 768px){
    .message-container {
        top: 200px;
        left: 175px;
        width: 50%;
        
        .get-messages {
           font-size:15px;
            .message-header {
               border-bottom: 2px solid white;
               width: 100%;
               
               h1 {
                   font-size: 15px;
               }
            .message-wrapper {
              font-size: 12px;
              p{
                  font-size: 12px;
              }
              h6{
                  font-size: 3px;
              }
            }
                
            }
        }
    }
}