.property-item-container {
    display: flex;   
    flex-flow: wrap;  
    position: relative;
    top: 5px;
    left:12%;
    width: fit-content;
    height: fit-content;
    .property-wrapper {        
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 768px;
      @include glass-bg-guide();
      width: 400px;
      height: 400px;
      padding: 0;
      margin-right: 20px;
      margin-bottom: 5px;
      border: 6px solid rgba(255, 255, 255, 0.18);
      
      .image-wrapper {
          width: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid white;
          height: 200px;
          border-radius: 15px;
          img {
              width: 100%;
              height: inherit;
              border-radius: 15px;
              }
        }
        .content {
            @include bg-guide();
            padding: 5px;
            .title {
                @include card-content();
                h1 {
                    font-size: 1em;
                    margin-right: 25px;
                }
            }
            .address {
                @include card-content();
                h2 {
                    font-size: 1em;
                    margin-right: 25px;
                } 
            }
            .price {
                @include card-content();
                h2 {
                    font-size: 1em;
                    margin-right: 25px;
                }
            }
            .renter {
                @include card-content();
                h1 {
                    font-size: 1em;
                    margin-right: 25px ;
                }
            }
        }
    }

}
@media(max-width: 768px){
    .property-item-container {
        left: 5%;
        .property-wrapper {
            width: 50%;
        }
    }
}
