@import "./keyframes.scss";
header {
  padding: 25px 50px;
  background: linear-gradient(45deg,#fb8122, #1D2228);
  background-size: 400% 400%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .bar {
    font-size: 28px;
    cursor: pointer;
    .open-btn {
      opacity: 1;
      visibility: visible;
    }
  }
  .menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: -100%;
    background: linear-gradient(-75deg, #1D2228, #71b2e7, #fb8122);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    animation: bg-anim 15s ease infinite ;
    transition: .5s;
    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      li {
        margin-bottom: 15px;
        a {
          padding: 10px 5px ;
          width: 100%;
          transform: .5s;
          margin-bottom: 10px;
          text-align: center;
          display: block;
          &:hover {
            background-color:#e1e2e2 ;
            color: #fb8122;
            transform: scaleX(1.2);

          }
        }
      }
    }
    .close-btn{
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 28px;
      cursor: pointer;
    }

  }
}